node-red/flows.json.bak
[{"id":"194d2b65f3bd157d","type":"tab","label":"Sproutbox Growschedule","disabled":false,"info":"","env":[]},{"id":"6764220563868573","type":"tab","label":"Growtent Growschedule","disabled":false,"info":"","env":[]},{"id":"a3bf31f12d0a9c1c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cef303a0.25f85","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"956645a87d3c087b","type":"trigger-state","z":"194d2b65f3bd157d","name":"Sproutbox","server":"cef303a0.25f85","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.sproutbox","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":80,"y":200,"wires":[["a3bf21be2d4a64cd"],[]]},{"id":"a3bf21be2d4a64cd","type":"switch","z":"194d2b65f3bd157d","name":"Sproutbox State","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":220,"wires":[["5a6c7951e6da5163","283b4c3e652a10fb"],["c1f568cbd90b944d"]]},{"id":"5a6c7951e6da5163","type":"api-current-state","z":"194d2b65f3bd157d","name":"Growschedule State","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sproutbox_growschedule","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":160,"wires":[["2a795f286d18b47a"],["881ca1d7861fd107"]]},{"id":"6d81dc224d97712a","type":"inject","z":"194d2b65f3bd157d","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":60,"wires":[["b8f71fcd65e2f950"]]},{"id":"b8f71fcd65e2f950","type":"api-current-state","z":"194d2b65f3bd157d","name":"Sproutbox","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.sproutbox","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":100,"wires":[["5a6c7951e6da5163","283b4c3e652a10fb"],[]]},{"id":"283b4c3e652a10fb","type":"ha-device","z":"194d2b65f3bd157d","name":"Fan On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_fan","domain":"switch"},"capabilities":[],"outputProperties":[],"x":570,"y":280,"wires":[[]]},{"id":"7b1a7f13e24f4add","type":"ha-device","z":"194d2b65f3bd157d","name":"Fan Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_fan","domain":"switch"},"capabilities":[],"outputProperties":[],"x":590,"y":880,"wires":[["3b534131b0b9ac18"]]},{"id":"095999ff2271287e","type":"time-range-switch","z":"194d2b65f3bd157d","name":"20-4 Dag","lat":"","lon":"","startTime":"15:00","endTime":"11:00","startOffset":0,"endOffset":0,"x":1160,"y":400,"wires":[["a2ab1d04d80678dd"],[]]},{"id":"589d6544e512fe55","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 24h","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"24h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"24h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":60,"wires":[["2383949538accc52","065c04fa343f191f"],[]]},{"id":"d8acf36bac2d2fbc","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 20-4","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"20h - 4h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":400,"wires":[["095999ff2271287e","3f2fe077a959a3ec","0f02d9366ead24af"],[]]},{"id":"2383949538accc52","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1170,"y":80,"wires":[["675fef738ddad555"]]},{"id":"3f2fe077a959a3ec","type":"time-range-switch","z":"194d2b65f3bd157d","name":"20-4 Nacht","lat":"","lon":"","startTime":"11:00","endTime":"15:00","startOffset":0,"endOffset":0,"x":1170,"y":460,"wires":[["b5d99780fe24fd18"],[]]},{"id":"1f9374f54909381e","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 18-6","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"18h - 6h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":600,"wires":[["e3a6ac809cad4b51","507f2e77782b4f7a","e98079123dd891ac"],[]]},{"id":"90fd0545d1cfba83","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 16-8","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"16h - 8h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":800,"wires":[["19f8e393f70ffe17","8728704786e8e6a6","5f55f169f9f2a240"],[]]},{"id":"f05f810f56e55a08","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 14-10","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"14h - 10h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":1000,"wires":[["dbf30b49255463f1","bce302994245fd9b","f0d48551fcc5a2cd"],[]]},{"id":"2b86a778f15f8fd1","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 12-12","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"12h - 12h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":1200,"wires":[["5b5065a811cab569","4cfdf362daa24552","7b60d92d53e4391e"],[]]},{"id":"e3a6ac809cad4b51","type":"time-range-switch","z":"194d2b65f3bd157d","name":"18-6 Dag","lat":"","lon":"","startTime":"16:00","endTime":"10:00","startOffset":0,"endOffset":0,"x":1160,"y":600,"wires":[["5794db2d9417b142"],[]]},{"id":"507f2e77782b4f7a","type":"time-range-switch","z":"194d2b65f3bd157d","name":"18-6 Nacht","lat":"","lon":"","startTime":"10:00","endTime":"16:00","startOffset":0,"endOffset":0,"x":1170,"y":660,"wires":[["ffdbf1156765afd1"],[]]},{"id":"5b5065a811cab569","type":"time-range-switch","z":"194d2b65f3bd157d","name":"12-12 Dag","lat":"","lon":"","startTime":"19:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":1170,"y":1200,"wires":[["85e97b7364f8c06b"],[]]},{"id":"4cfdf362daa24552","type":"time-range-switch","z":"194d2b65f3bd157d","name":"12-12 Nacht","lat":"","lon":"","startTime":"07:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":1170,"y":1260,"wires":[["38e0efdac4a07bbb"],[]]},{"id":"dbf30b49255463f1","type":"time-range-switch","z":"194d2b65f3bd157d","name":"14-10 Dag","lat":"","lon":"","startTime":"18:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":1170,"y":1000,"wires":[["2d88ec791f36df24"],[]]},{"id":"bce302994245fd9b","type":"time-range-switch","z":"194d2b65f3bd157d","name":"14-10 Nacht","lat":"","lon":"","startTime":"08:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":1170,"y":1060,"wires":[["37efeb20fdb37138"],[]]},{"id":"19f8e393f70ffe17","type":"time-range-switch","z":"194d2b65f3bd157d","name":"16-8 Dag","lat":"","lon":"","startTime":"17:00","endTime":"09:00","startOffset":0,"endOffset":0,"x":1160,"y":800,"wires":[["bc74defd3548e042"],[]]},{"id":"8728704786e8e6a6","type":"time-range-switch","z":"194d2b65f3bd157d","name":"16-8 Nacht","lat":"","lon":"","startTime":"09:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":1170,"y":860,"wires":[["9881690608f00b38"],[]]},{"id":"065c04fa343f191f","type":"api-call-service","z":"194d2b65f3bd157d","name":"24h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"24h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":20,"wires":[["01f08fae4d2426cf"]]},{"id":"0f02d9366ead24af","type":"api-call-service","z":"194d2b65f3bd157d","name":"20h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"20h - 4h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":340,"wires":[["0434a955e98ce937"]]},{"id":"5f55f169f9f2a240","type":"api-call-service","z":"194d2b65f3bd157d","name":"16h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"16h - 8h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":740,"wires":[["570ee0f283cf2178"]]},{"id":"f0d48551fcc5a2cd","type":"api-call-service","z":"194d2b65f3bd157d","name":"14h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"14h - 10h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":940,"wires":[["5ca11d804880374a"]]},{"id":"7b60d92d53e4391e","type":"api-call-service","z":"194d2b65f3bd157d","name":"12h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"12h - 12h\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":1180,"y":1140,"wires":[["720382686e16ba89"]]},{"id":"e98079123dd891ac","type":"api-call-service","z":"194d2b65f3bd157d","name":"18h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"18h - 6h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":540,"wires":[["bd1567cae32adfdc"]]},{"id":"3b534131b0b9ac18","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":130,"y":980,"wires":[["31f143c80bc8553b"]]},{"id":"31f143c80bc8553b","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":610,"y":1080,"wires":[[]]},{"id":"675fef738ddad555","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":80,"wires":[[]]},{"id":"0434a955e98ce937","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"15:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":340,"wires":[["82b3f3f7cd5c10d2"]]},{"id":"82b3f3f7cd5c10d2","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"11:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":340,"wires":[["07328a835b692eff"]]},{"id":"bd1567cae32adfdc","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"16:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":540,"wires":[["ca5031a81459fa04"]]},{"id":"ca5031a81459fa04","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"10:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":540,"wires":[["9f3e9ae37779d3ca"]]},{"id":"570ee0f283cf2178","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"17:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":740,"wires":[["32154af0da81b084"]]},{"id":"32154af0da81b084","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"09:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":740,"wires":[["4ecd595a3e29239c"]]},{"id":"5ca11d804880374a","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"18:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":940,"wires":[["177497a4db2176a6"]]},{"id":"177497a4db2176a6","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"08:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":940,"wires":[["ae480137f3b387a1"]]},{"id":"720382686e16ba89","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"19:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":1140,"wires":[["753fce4afebb0d8a"]]},{"id":"753fce4afebb0d8a","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"07:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":1140,"wires":[["1b0508039dd3ca4a"]]},{"id":"776dd909e121ebf4","type":"time-range-switch","z":"194d2b65f3bd157d","name":"22-2 Dag","lat":"","lon":"","startTime":"14:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":1160,"y":200,"wires":[["69b01217b4af8fe4"],[]]},{"id":"98b25e7c322228ae","type":"api-current-state","z":"194d2b65f3bd157d","name":"Schedule 22-2","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"22h - 2h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.sproutbox_growschedule_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":200,"wires":[["776dd909e121ebf4","30ca5255957572eb","cec22210bd394f1c"],[]]},{"id":"30ca5255957572eb","type":"time-range-switch","z":"194d2b65f3bd157d","name":"22-2 Nacht","lat":"","lon":"","startTime":"12:00","endTime":"14:00","startOffset":0,"endOffset":0,"x":1170,"y":260,"wires":[["b2376a18eb8d76d4"],[]]},{"id":"cec22210bd394f1c","type":"api-call-service","z":"194d2b65f3bd157d","name":"22h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"22h - 2h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":140,"wires":[["19c46d86564b73e2"]]},{"id":"19c46d86564b73e2","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"14:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":140,"wires":[["e1aecbb5bfc4ab1d"]]},{"id":"e1aecbb5bfc4ab1d","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"12:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":140,"wires":[["453f343e23093f75"]]},{"id":"01f08fae4d2426cf","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":20,"wires":[["3d8cbedee503d961"]]},{"id":"3d8cbedee503d961","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":20,"wires":[["35af95a300ac9408"]]},{"id":"453f343e23093f75","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"2\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":140,"wires":[["2835ef6199baa532"]]},{"id":"2835ef6199baa532","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"22\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":140,"wires":[[]]},{"id":"35af95a300ac9408","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":20,"wires":[["e45398e66675c706"]]},{"id":"e45398e66675c706","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"24\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":20,"wires":[[]]},{"id":"07328a835b692eff","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"4\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":340,"wires":[["7a323236e0ae0653"]]},{"id":"7a323236e0ae0653","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"20\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":340,"wires":[[]]},{"id":"9f3e9ae37779d3ca","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"6\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":540,"wires":[["7f4b28e9c5e85e1f"]]},{"id":"7f4b28e9c5e85e1f","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"18\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":540,"wires":[[]]},{"id":"4ecd595a3e29239c","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"8\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":740,"wires":[["836e61213aa8b29b"]]},{"id":"836e61213aa8b29b","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"16\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":740,"wires":[[]]},{"id":"ae480137f3b387a1","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"10\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":940,"wires":[["af541160a48731e1"]]},{"id":"af541160a48731e1","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"14\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":940,"wires":[[]]},{"id":"1b0508039dd3ca4a","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"12\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":1140,"wires":[["77528ad9c2353551"]]},{"id":"77528ad9c2353551","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"12\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":1140,"wires":[[]]},{"id":"b2376a18eb8d76d4","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":260,"wires":[["4bb89ec1d929f484"]]},{"id":"4bb89ec1d929f484","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":260,"wires":[[]]},{"id":"b5d99780fe24fd18","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":460,"wires":[["5ed5eff62956dddd"]]},{"id":"5ed5eff62956dddd","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":460,"wires":[[]]},{"id":"ffdbf1156765afd1","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":660,"wires":[["2bf755cbf00baaa8"]]},{"id":"2bf755cbf00baaa8","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":660,"wires":[[]]},{"id":"9881690608f00b38","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":860,"wires":[["514f57cd860ca0f7"]]},{"id":"514f57cd860ca0f7","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":860,"wires":[[]]},{"id":"38e0efdac4a07bbb","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":1260,"wires":[["cfa8cd6a1179fc05"]]},{"id":"cfa8cd6a1179fc05","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":1260,"wires":[[]]},{"id":"37efeb20fdb37138","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":1060,"wires":[["ef39a6683fa80481"]]},{"id":"ef39a6683fa80481","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":1060,"wires":[[]]},{"id":"69b01217b4af8fe4","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1310,"y":200,"wires":[["ee4f3af7c04a98d3"]]},{"id":"ee4f3af7c04a98d3","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1470,"y":200,"wires":[[]]},{"id":"a2ab1d04d80678dd","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1310,"y":400,"wires":[["54773614754afc92"]]},{"id":"54773614754afc92","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1470,"y":400,"wires":[[]]},{"id":"5794db2d9417b142","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1310,"y":600,"wires":[["4d7c18c8b817f126"]]},{"id":"4d7c18c8b817f126","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1470,"y":600,"wires":[[]]},{"id":"bc74defd3548e042","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1310,"y":800,"wires":[["6cb86ff03d89d662"]]},{"id":"6cb86ff03d89d662","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1470,"y":800,"wires":[[]]},{"id":"2d88ec791f36df24","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":1000,"wires":[["00462f4840b1b9e9"]]},{"id":"00462f4840b1b9e9","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":1000,"wires":[[]]},{"id":"85e97b7364f8c06b","type":"ha-device","z":"194d2b65f3bd157d","name":"Blue Light On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_blue_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":1200,"wires":[["9e5976dea5219add"]]},{"id":"9e5976dea5219add","type":"ha-device","z":"194d2b65f3bd157d","name":"Red Light Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_off","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_red_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1490,"y":1200,"wires":[[]]},{"id":"881ca1d7861fd107","type":"api-call-service","z":"194d2b65f3bd157d","name":"Manual Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"Manual\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1340,"wires":[["15694b6686b0e377"]]},{"id":"3b6868204d6f74d8","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":1340,"wires":[["574946d51db31e5b"]]},{"id":"574946d51db31e5b","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":1340,"wires":[["78f3b3d44d297754"]]},{"id":"78f3b3d44d297754","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1600,"y":1340,"wires":[["b19d6bac7a151bca"]]},{"id":"b19d6bac7a151bca","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":1340,"wires":[[]]},{"id":"c1f568cbd90b944d","type":"api-call-service","z":"194d2b65f3bd157d","name":"Turn off Growschedule","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sproutbox_growschedule","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":320,"wires":[["5d7f79e48c727f64"]]},{"id":"084f539024d30f10","type":"api-call-service","z":"194d2b65f3bd157d","name":"Off Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.sproutbox_growschedule_status","data":"{\"value\":\"Off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":480,"wires":[["a647be0eb58af166"]]},{"id":"a647be0eb58af166","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":560,"wires":[["0984eeb940d24eea"]]},{"id":"0984eeb940d24eea","type":"api-call-service","z":"194d2b65f3bd157d","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.sproutbox_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":120,"y":660,"wires":[["233fc02b1b29673c"]]},{"id":"233fc02b1b29673c","type":"api-call-service","z":"194d2b65f3bd157d","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_night_hours","data":"{\"value\":\"24\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":740,"wires":[["7e8aa06b9b28b32c"]]},{"id":"7e8aa06b9b28b32c","type":"api-call-service","z":"194d2b65f3bd157d","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.sproutbox_day_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":840,"wires":[["7b1a7f13e24f4add"]]},{"id":"5d7f79e48c727f64","type":"api-call-service","z":"194d2b65f3bd157d","name":"Set Schedule Off","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.sproutbox_growschedule_selection","data":"{\"option\":\"Off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":380,"wires":[["084f539024d30f10"]]},{"id":"15694b6686b0e377","type":"api-call-service","z":"194d2b65f3bd157d","name":"Set Schedule Off","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.sproutbox_growschedule_selection","data":"{\"option\":\"Manual\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":1340,"wires":[["3b6868204d6f74d8"]]},{"id":"2a795f286d18b47a","type":"ha-device","z":"194d2b65f3bd157d","name":"Fan On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"467b4983250a9389895453bf3cc76e47","event":{"type":"turn_on","device_id":"467b4983250a9389895453bf3cc76e47","entity_id":"switch.sproutbox_fan","domain":"switch"},"capabilities":[],"outputProperties":[],"x":710,"y":60,"wires":[["589d6544e512fe55","98b25e7c322228ae","d8acf36bac2d2fbc","1f9374f54909381e","90fd0545d1cfba83","f05f810f56e55a08","2b86a778f15f8fd1"]]},{"id":"3d5415b27e561c52","type":"trigger-state","z":"6764220563868573","name":"Growtent","server":"cef303a0.25f85","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.growtent","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":100,"y":200,"wires":[["daea86c45a814db5"],[]]},{"id":"daea86c45a814db5","type":"switch","z":"6764220563868573","name":"Growbox State","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":220,"wires":[["61b4f87b02f3324d","dc1a8b8f64a82994"],["69e23fce12372842"]]},{"id":"61b4f87b02f3324d","type":"api-current-state","z":"6764220563868573","name":"Growschedule State","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.growtent_growschedule","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":160,"wires":[["07699a2a1307174a"],["f252483c4493e0be"]]},{"id":"c1ec913de9b4d574","type":"inject","z":"6764220563868573","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":60,"wires":[["3c073f432649f26d"]]},{"id":"3c073f432649f26d","type":"api-current-state","z":"6764220563868573","name":"Growtent","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.growtent","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":100,"wires":[["61b4f87b02f3324d","dc1a8b8f64a82994"],[]]},{"id":"9e77df60e218cb40","type":"ha-device","z":"6764220563868573","name":"Afzuiging Uit","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"adddaadafef51a781b4b3700ded10a1a","event":{"type":"turn_off","device_id":"adddaadafef51a781b4b3700ded10a1a","entity_id":"switch.growtent_afzuiging","domain":"switch"},"capabilities":[],"outputProperties":[],"x":630,"y":880,"wires":[["f326a134818b9f25"]]},{"id":"9a5f288ad395e636","type":"time-range-switch","z":"6764220563868573","name":"20-4 Dag","lat":"","lon":"","startTime":"15:00","endTime":"11:00","startOffset":0,"endOffset":0,"x":1180,"y":400,"wires":[["76d30123026ba579"],[]]},{"id":"52a82ee8bf5ae34b","type":"api-current-state","z":"6764220563868573","name":"Schedule 24h","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"24h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"24h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":60,"wires":[["751b159678f2c451","ad939783c25d6a92"],[]]},{"id":"929893854103b57b","type":"api-current-state","z":"6764220563868573","name":"Schedule 20-4","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"20h - 4h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":400,"wires":[["9a5f288ad395e636","7385f0846cc0533a","fe80c4b435b465cd"],[]]},{"id":"7385f0846cc0533a","type":"time-range-switch","z":"6764220563868573","name":"20-4 Nacht","lat":"","lon":"","startTime":"11:00","endTime":"15:00","startOffset":0,"endOffset":0,"x":1190,"y":460,"wires":[["5ffb959d66102b52"],[]]},{"id":"04173654b66bf269","type":"api-current-state","z":"6764220563868573","name":"Schedule 18-6","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"18h - 6h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":600,"wires":[["6965a89a3eee9e95","e5bb0b314dcca688","2e5d7de53ce3a8a4"],[]]},{"id":"68cb7fa980cee3ee","type":"api-current-state","z":"6764220563868573","name":"Schedule 16-8","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"16h - 8h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":800,"wires":[["435f0b7149150613","e14593eb835d7f79","ad9a2f4498dfbe7b"],[]]},{"id":"ce69dc4db10818be","type":"api-current-state","z":"6764220563868573","name":"Schedule 14-10","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"14h - 10h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":1000,"wires":[["9a7f9565c224485d","008d7476a2c66f46","4123236f8498d2af"],[]]},{"id":"5c0bd688bd4e78f1","type":"api-current-state","z":"6764220563868573","name":"Schedule 12-12","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"12h - 12h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":1200,"wires":[["e9f142457574ef46","24c0de14a3fc7866","b979b6b77ad3de5e"],[]]},{"id":"6965a89a3eee9e95","type":"time-range-switch","z":"6764220563868573","name":"18-6 Dag","lat":"","lon":"","startTime":"16:00","endTime":"10:00","startOffset":0,"endOffset":0,"x":1180,"y":600,"wires":[["46fdd3887d7fc40c"],[]]},{"id":"e5bb0b314dcca688","type":"time-range-switch","z":"6764220563868573","name":"18-6 Nacht","lat":"","lon":"","startTime":"10:00","endTime":"16:00","startOffset":0,"endOffset":0,"x":1190,"y":660,"wires":[["a4a9a67250e5f6d0"],[]]},{"id":"e9f142457574ef46","type":"time-range-switch","z":"6764220563868573","name":"12-12 Dag","lat":"","lon":"","startTime":"19:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":1190,"y":1200,"wires":[["3b6b3d66e72e2b53"],[]]},{"id":"24c0de14a3fc7866","type":"time-range-switch","z":"6764220563868573","name":"12-12 Nacht","lat":"","lon":"","startTime":"07:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":1190,"y":1260,"wires":[["f76b228c0bca2c20"],[]]},{"id":"9a7f9565c224485d","type":"time-range-switch","z":"6764220563868573","name":"14-10 Dag","lat":"","lon":"","startTime":"18:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":1190,"y":1000,"wires":[["61963bb3e7eb6c87"],[]]},{"id":"008d7476a2c66f46","type":"time-range-switch","z":"6764220563868573","name":"14-10 Nacht","lat":"","lon":"","startTime":"08:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":1190,"y":1060,"wires":[["662569096bb0aec6"],[]]},{"id":"435f0b7149150613","type":"time-range-switch","z":"6764220563868573","name":"16-8 Dag","lat":"","lon":"","startTime":"17:00","endTime":"09:00","startOffset":0,"endOffset":0,"x":1180,"y":800,"wires":[["b66fa9379fe3fb45"],[]]},{"id":"e14593eb835d7f79","type":"time-range-switch","z":"6764220563868573","name":"16-8 Nacht","lat":"","lon":"","startTime":"09:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":1190,"y":860,"wires":[["68a9272dc8dc5617"],[]]},{"id":"751b159678f2c451","type":"api-call-service","z":"6764220563868573","name":"24h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"24h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":20,"wires":[["31e66ecbc135a2ea"]]},{"id":"fe80c4b435b465cd","type":"api-call-service","z":"6764220563868573","name":"20h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"20h - 4h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":340,"wires":[["dbdc2cd9dd2cdf88"]]},{"id":"ad9a2f4498dfbe7b","type":"api-call-service","z":"6764220563868573","name":"16h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"16h - 8h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":740,"wires":[["07a0d25b0daa5794"]]},{"id":"4123236f8498d2af","type":"api-call-service","z":"6764220563868573","name":"14h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"14h - 10h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":940,"wires":[["d348c8ca6ef8b0b2"]]},{"id":"b979b6b77ad3de5e","type":"api-call-service","z":"6764220563868573","name":"12h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"12h - 12h\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":1200,"y":1140,"wires":[["24b61d855eeefb11"]]},{"id":"2e5d7de53ce3a8a4","type":"api-call-service","z":"6764220563868573","name":"18h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"18h - 6h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":540,"wires":[["573d91d548834b16"]]},{"id":"f326a134818b9f25","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":150,"y":980,"wires":[["5a4b1dfcad4ecc84"]]},{"id":"5a4b1dfcad4ecc84","type":"ha-device","z":"6764220563868573","name":"Fan 1 Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"f2c3411e827258cf424e7b83a2c5e666","event":{"type":"turn_off","device_id":"f2c3411e827258cf424e7b83a2c5e666","entity_id":"switch.growtent_fan_1","domain":"switch"},"capabilities":[],"outputProperties":[],"x":620,"y":1080,"wires":[["e5b63eb1e717145b"]]},{"id":"dbdc2cd9dd2cdf88","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"15:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":340,"wires":[["ec063e9d7dcb2380"]]},{"id":"ec063e9d7dcb2380","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"11:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":340,"wires":[["ab86624a6458da3a"]]},{"id":"573d91d548834b16","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"16:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":540,"wires":[["f159765a21b8ff5d"]]},{"id":"f159765a21b8ff5d","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"10:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":540,"wires":[["8f2d81100a8b8a14"]]},{"id":"07a0d25b0daa5794","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"17:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":740,"wires":[["888feffefef5e575"]]},{"id":"888feffefef5e575","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"09:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":740,"wires":[["0b88b3f03ff96cda"]]},{"id":"d348c8ca6ef8b0b2","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"18:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":940,"wires":[["a226e781bc2d1733"]]},{"id":"a226e781bc2d1733","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"08:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":940,"wires":[["a4a50930f65878de"]]},{"id":"24b61d855eeefb11","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"19:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":1140,"wires":[["b859e1afdc71749e"]]},{"id":"b859e1afdc71749e","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"07:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":1140,"wires":[["a17d78db3aa850ef"]]},{"id":"74379de86fa3b862","type":"time-range-switch","z":"6764220563868573","name":"22-2 Dag","lat":"","lon":"","startTime":"14:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":1180,"y":200,"wires":[["4b01d35230be991f"],[]]},{"id":"383f46f39e77ccec","type":"api-current-state","z":"6764220563868573","name":"Schedule 22-2","server":"cef303a0.25f85","version":2,"outputs":2,"halt_if":"22h - 2h","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.growtent_grow_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"18h - 6h","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":200,"wires":[["74379de86fa3b862","90dd83ea254a990a","b4028f2a69dc72c2"],[]]},{"id":"90dd83ea254a990a","type":"time-range-switch","z":"6764220563868573","name":"22-2 Nacht","lat":"","lon":"","startTime":"12:00","endTime":"14:00","startOffset":0,"endOffset":0,"x":1190,"y":260,"wires":[["0b552cf169867135"],[]]},{"id":"b4028f2a69dc72c2","type":"api-call-service","z":"6764220563868573","name":"22h Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"22h - 2h\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":140,"wires":[["d7b1c30d65b67fcc"]]},{"id":"d7b1c30d65b67fcc","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"14:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":140,"wires":[["f9f0b837565f14b2"]]},{"id":"f9f0b837565f14b2","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"12:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":140,"wires":[["f99b88511fef6b5e"]]},{"id":"31e66ecbc135a2ea","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":20,"wires":[["285ed6b19e28a590"]]},{"id":"285ed6b19e28a590","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":20,"wires":[["0c68eaa28b9fe698"]]},{"id":"f99b88511fef6b5e","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"2\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":140,"wires":[["83405c654c585d24"]]},{"id":"83405c654c585d24","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"22\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":140,"wires":[[]]},{"id":"0c68eaa28b9fe698","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":20,"wires":[["d789fe7f50f4ec15"]]},{"id":"d789fe7f50f4ec15","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"24\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":20,"wires":[[]]},{"id":"ab86624a6458da3a","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"4\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":340,"wires":[["0af45e144f75984c"]]},{"id":"0af45e144f75984c","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"20\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":340,"wires":[[]]},{"id":"8f2d81100a8b8a14","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"6\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":540,"wires":[["2f1a4ffb3645416c"]]},{"id":"2f1a4ffb3645416c","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"18\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":540,"wires":[[]]},{"id":"0b88b3f03ff96cda","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"8\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":740,"wires":[["c61f90bd539ceec8"]]},{"id":"c61f90bd539ceec8","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"16\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":740,"wires":[[]]},{"id":"a4a50930f65878de","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"10\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":940,"wires":[["9fd617b40d983068"]]},{"id":"9fd617b40d983068","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"14\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":940,"wires":[[]]},{"id":"a17d78db3aa850ef","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"12\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":1140,"wires":[["6ef75e558ec8b4ca"]]},{"id":"6ef75e558ec8b4ca","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"12\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":1140,"wires":[[]]},{"id":"f252483c4493e0be","type":"api-call-service","z":"6764220563868573","name":"Manual Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"Manual\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":1340,"wires":[["cb057385124af493"]]},{"id":"f860074dd8d2455e","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":1340,"wires":[["60d1dd448b10b8bd"]]},{"id":"60d1dd448b10b8bd","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":1340,"wires":[["95e95c034c0196e6"]]},{"id":"95e95c034c0196e6","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":1340,"wires":[["aa9923c08c2fee38"]]},{"id":"aa9923c08c2fee38","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1770,"y":1340,"wires":[[]]},{"id":"69e23fce12372842","type":"api-call-service","z":"6764220563868573","name":"Turn off Growschedule","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.growtent_growschedule","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":180,"y":320,"wires":[["9937a526ef169777"]]},{"id":"5880b14bf66469b7","type":"api-call-service","z":"6764220563868573","name":"Off Message","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.growtent_growschedule_status","data":"{\"value\":\"Off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":480,"wires":[["78dc98e7af6e0de9"]]},{"id":"78dc98e7af6e0de9","type":"api-call-service","z":"6764220563868573","name":"Sunrise","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunrise","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":560,"wires":[["62ee42b5abb10ab1"]]},{"id":"62ee42b5abb10ab1","type":"api-call-service","z":"6764220563868573","name":"Sunset","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.growtent_sunset","data":"{\"time\":\"00:00:00\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":140,"y":660,"wires":[["17b129ca9b8a33a4"]]},{"id":"17b129ca9b8a33a4","type":"api-call-service","z":"6764220563868573","name":"Dark Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_night_hours","data":"{\"value\":\"24\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":740,"wires":[["3ec7a5254745868d"]]},{"id":"3ec7a5254745868d","type":"api-call-service","z":"6764220563868573","name":"Light Time","server":"cef303a0.25f85","version":3,"debugenabled":true,"service_domain":"input_number","service":"set_value","entityId":"input_number.growtent_day_hours","data":"{\"value\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":840,"wires":[["9e77df60e218cb40"]]},{"id":"9937a526ef169777","type":"api-call-service","z":"6764220563868573","name":"Set Schedule Off","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.growtent_grow_schedule","data":"{\"option\":\"Off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":380,"wires":[["5880b14bf66469b7"]]},{"id":"cb057385124af493","type":"api-call-service","z":"6764220563868573","name":"Set Schedule Off","server":"cef303a0.25f85","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.growtent_grow_schedule","data":"{\"option\":\"Manual\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":1340,"wires":[["f860074dd8d2455e"]]},{"id":"e5b63eb1e717145b","type":"ha-device","z":"6764220563868573","name":"Fan 2 Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"b20dcc12929ccd8eeaf0185e75ee78f3","event":{"type":"turn_off","device_id":"b20dcc12929ccd8eeaf0185e75ee78f3","entity_id":"switch.growtent_fan_2","domain":"switch"},"capabilities":[],"outputProperties":[],"x":140,"y":1160,"wires":[[]]},{"id":"dc1a8b8f64a82994","type":"ha-device","z":"6764220563868573","name":"Afzuiging Aan","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"adddaadafef51a781b4b3700ded10a1a","event":{"type":"turn_on","device_id":"adddaadafef51a781b4b3700ded10a1a","entity_id":"switch.growtent_afzuiging","domain":"switch"},"capabilities":[],"outputProperties":[],"x":430,"y":300,"wires":[["ac815b2a0b7c3e5d"]]},{"id":"6237c5b82408341b","type":"ha-device","z":"6764220563868573","name":"Afzuiging Aan","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"adddaadafef51a781b4b3700ded10a1a","event":{"type":"turn_on","device_id":"adddaadafef51a781b4b3700ded10a1a","entity_id":"switch.growtent_afzuiging","domain":"switch"},"capabilities":[],"outputProperties":[],"x":750,"y":60,"wires":[["52a82ee8bf5ae34b","383f46f39e77ccec","929893854103b57b","04173654b66bf269","68cb7fa980cee3ee","ce69dc4db10818be","5c0bd688bd4e78f1"]]},{"id":"0b552cf169867135","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":260,"wires":[[]]},{"id":"ad939783c25d6a92","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1190,"y":80,"wires":[[]]},{"id":"5ffb959d66102b52","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":460,"wires":[[]]},{"id":"a4a9a67250e5f6d0","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":660,"wires":[[]]},{"id":"68a9272dc8dc5617","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":860,"wires":[[]]},{"id":"f76b228c0bca2c20","type":"ha-device","z":"6764220563868573","name":"Growlight Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_off","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":1260,"wires":[[]]},{"id":"4b01d35230be991f","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":200,"wires":[[]]},{"id":"76d30123026ba579","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":400,"wires":[[]]},{"id":"46fdd3887d7fc40c","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":600,"wires":[[]]},{"id":"b66fa9379fe3fb45","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1330,"y":800,"wires":[[]]},{"id":"61963bb3e7eb6c87","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":1000,"wires":[[]]},{"id":"662569096bb0aec6","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":1060,"wires":[[]]},{"id":"3b6b3d66e72e2b53","type":"ha-device","z":"6764220563868573","name":"Growlight On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"3f5aea5731fe162452bc3e41969dc780","event":{"type":"turn_on","device_id":"3f5aea5731fe162452bc3e41969dc780","entity_id":"switch.growtent_growlight","domain":"switch"},"capabilities":[],"outputProperties":[],"x":1350,"y":1200,"wires":[[]]},{"id":"ac815b2a0b7c3e5d","type":"ha-device","z":"6764220563868573","name":"Fan 1 On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"f2c3411e827258cf424e7b83a2c5e666","event":{"type":"turn_on","device_id":"f2c3411e827258cf424e7b83a2c5e666","entity_id":"switch.growtent_fan_1","domain":"switch"},"capabilities":[],"outputProperties":[],"x":560,"y":240,"wires":[["6d5001b348c4d520"]]},{"id":"6d5001b348c4d520","type":"ha-device","z":"6764220563868573","name":"Fan 2 On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"b20dcc12929ccd8eeaf0185e75ee78f3","event":{"type":"turn_on","device_id":"b20dcc12929ccd8eeaf0185e75ee78f3","entity_id":"switch.growtent_fan_2","domain":"switch"},"capabilities":[],"outputProperties":[],"x":680,"y":300,"wires":[[]]},{"id":"03baf574829dbacb","type":"ha-device","z":"6764220563868573","name":"Fan 2 On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"b20dcc12929ccd8eeaf0185e75ee78f3","event":{"type":"turn_on","device_id":"b20dcc12929ccd8eeaf0185e75ee78f3","entity_id":"switch.growtent_fan_2","domain":"switch"},"capabilities":[],"outputProperties":[],"x":580,"y":40,"wires":[["6237c5b82408341b"]]},{"id":"07699a2a1307174a","type":"ha-device","z":"6764220563868573","name":"Fan 1 On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"f2c3411e827258cf424e7b83a2c5e666","event":{"type":"turn_on","device_id":"f2c3411e827258cf424e7b83a2c5e666","entity_id":"switch.growtent_fan_1","domain":"switch"},"capabilities":[],"outputProperties":[],"x":560,"y":100,"wires":[["03baf574829dbacb"]]},{"id":"18eb7d951cbaea5d","type":"eztimer","z":"a3bf31f12d0a9c1c","name":"TV Beneden Lockdown","debug":false,"autoname":"07:00 - 03:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"","lon":"","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"dawn","ontimetod":"07:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"03:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":330,"y":440,"wires":[["4d85fe91d44e212d"]]},{"id":"4d85fe91d44e212d","type":"switch","z":"a3bf31f12d0a9c1c","name":"Check Time","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":440,"wires":[["a25d3301fae99cb5"],["d33d1c83b499a180"]]},{"id":"a25d3301fae99cb5","type":"ha-device","z":"a3bf31f12d0a9c1c","name":"TV Beneden On","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"c6dfd481f27e20bf34d1ffb7a640e4ad","event":{"type":"turn_on","device_id":"c6dfd481f27e20bf34d1ffb7a640e4ad","entity_id":"switch.tv_beneden","domain":"switch"},"capabilities":[],"outputProperties":[],"x":820,"y":380,"wires":[[]]},{"id":"d33d1c83b499a180","type":"ha-device","z":"a3bf31f12d0a9c1c","name":"TV Beneden Off","server":"cef303a0.25f85","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":1,"deviceType":"action","device":"c6dfd481f27e20bf34d1ffb7a640e4ad","event":{"type":"turn_off","device_id":"c6dfd481f27e20bf34d1ffb7a640e4ad","entity_id":"switch.tv_beneden","domain":"switch"},"capabilities":[],"outputProperties":[],"x":820,"y":480,"wires":[[]]}]